venv
venvs
.vscode
__pycache__
*/__pycache__
**/__pycache__
.env
.DS_Store
**/.DS_Store
*.egg-info
.pytest_cache
.ipynb_checkpoints
**/.ipynb_checkpoints
/spotify-downloader
/data/*
/profiles
/logs
browser_daw/cache/
